name: Register MediaFire Accounts

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  register_accounts:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      # 系统依赖（针对当前 ubuntu 24.04，去掉了不可用包）
      - name: Install system libs
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libnss3 \
            libxi6 \
            libxcursor1 \
            libxcomposite1 \
            libasound2t64

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run registration script
        env:
          MEDIAFIRE_REF_LINK: ${{ secrets.MEDIAFIRE_REF_LINK }}
          MEDIAFIRE_PASSWORD: ${{ secrets.MEDIAFIRE_PASSWORD }}
          EMAIL_LIST: ${{ secrets.EMAIL_LIST }}
        run: |
          python register.py
